/* malek abdallah aldwaik */
ul {
    list-style: none;
  }
.header{
    width: 100%;
    height: 500px;
    background-image: url(../project5/image/web1111.jpg);
    background-size: cover;
    position: relative;
}
.header .text {
   position: absolute;
   top: 50%;
   right: 50%;

   transform: translate(50%,-50%);
    color: white;
    text-shadow: 5px 4px 2px green;
    text-align: center;

}
.header .text h2{
    font-size: 20px;
}
.header .text span:first-child{
    display: block;
}
.header .box{
    display: flex;
    gap: 10px;
    padding-top: 20px;
}


.header img:hover{
    max-width: 50px;
    outline: 2px solid red;

    border-radius: 50%;}
.header .bottmo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #a3652b;
}
.header .bottmo ul{
 margin-top: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header .bottmo ul li{
    height: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    color: #fff;
}
.header .bottmo ul li:hover{
    background-color: #fff;
}
.header .bottmo ul li a{color: #fff;
    text-decoration: none;
  
}
.header .bottmo ul li:hover a{
    color: #000;
   
}
.header .bottmo span{
    position: absolute;
    right: 30px;
    padding: 15px;
    
}
.header .bottmo span:hover{
    background-color: #fff;
    color: #000;

}
/* start about us */
.about{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
 justify-content: center;
background-color: rgb(236, 236, 236);
gap: 50px;
}
.about .image {
    width: 300px;
    box-shadow: 0 0 10px rgba(27, 27, 27, 0.692);
}
.about .image:nth-child(3){
    box-shadow: 0 0 35px 4px rgb(14, 150, 25);
    position: relative;
}
.about .image:nth-child(3)::after{
content: "";
border-style: solid;
border-width: 50px;
border-color:transparent transparent  transparent green ;
position: absolute;
right: -100px;
top: 50%;
transform: translatey(-27%);
}
.about .image  img {
    max-width: 100%;
    background-size: cover;
}
.about .image .text{
    display: flex;
}
.about .image:hover .text{
    background-color: rgb(5, 85, 5);
    color: #fff;
}
.about .image h2 {
    font-size: 17px;
    text-align: start;
    padding-left: 7px;
}
.about .image span {
    display: block;
    text-align: center;

}
.about .image .text .span-1{
    margin: 22px auto;
    background-color: green;
    color: #fff;
    padding: 7px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
.about .image .text .span-2{
    margin: 22px auto;
    background-color: blue;
    color: #fff;
    padding: 7px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}
.about .image .text .span-3{
    margin: 22px auto;
    background-color: #b5b556;
    color: #fff;
    padding: 7px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid green;
 
}

/* end about  */

.services{
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

background-color: #fff;

}

.services   img {
    max-width: 50%;
    width: 46%;
    margin: 0 60px;
}
.services .image h2 {
    font-size: 17px;
}
.services .text {
    flex: 1;
    padding: 105px 74px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.services .text .box{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.services .text  img{
    max-width: 32px;
}
/* start images */
.images{
    padding: 20px 0;
background-color: rgb(236, 236, 236);
}
.images h2{
    color: green;
    text-align: center;
}
.images .content{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
    align-items: center;
}

.images .content .box{
width: 21%;
}
.images .content .gallery{
    width: 320px;
    height: 220px;
    background-image: url(image/gallery-2.jpg);
    background-size: cover;
position: relative;
border-bottom-right-radius: 20px;
border-top-left-radius: 20px;
}
.images .content .gallery::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.336);
    }
    .images .content .gallery::after{
        content: "image 1";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(25%,-50%);
        background-color: rgba(0, 128, 0, 0.384);
        padding: 10px;
        border-radius: 50px;
    }
.images .content .our {
    text-align: center;
    padding: 0 30px;
}
.images .content .our img{
    color: green;
    max-width: 30%;
    padding: 10px 10px;
}
.images .content .our h2{
color: green;
}

table{
    border-color: olive;
    border-style: solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
th{
     
    border-color: olive;
    border-style: solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.ss{
    padding-top: 100px;
    padding-bottom: 100px;
}
td{
    border-color: olive;
    border-style: solid;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-right: 15px;
    padding-left: 15px;
}
table {
    background-color: #fff;
}
